
h1{

    font-size: 50px;
    font-weight: 900;
}
h2.bol{
    color: blue;
}
.name-highlight{

    color:coral;
}
.width {
    width:40%;
    float:left;
    margin-left:5%;
    padding-left:2% ;
}
.width img{
    width:100%;
}
.para{
   font-size:20px
}
